ASP.NET/Label access/LabelAccess/bin/LabelAccess.dll
ASP.NET/Label access/LabelAccess/bin/LabelAccess.pdb
ASP.NET/Label access/LabelAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASP.NET/Label access/LabelAccess/obj/Debug/LabelAccess.csproj.FileListAbsolute.txt
ASP.NET/Label access/LabelAccess/obj/Debug/LabelAccess.csprojResolveAssemblyReference.cache
ASP.NET/Label access/LabelAccess/obj/Debug/LabelAccess.dll
ASP.NET/Label access/LabelAccess/obj/Debug/LabelAccess.pdb
